body{
    background-color: #ffffff;
}

.canvas{
    width: 100%;
    height: 100%;
    background-color: white;
    position: relative;
}

.OutterContainer{
    width:100%;
    height:100%;
    background-color:rgb(255, 255, 255);
    overflow:hidden;
}

.SideBar{
    width: 100%;
    height: 40px;
    background-color: #ffffff;
}
#Sidep1{
    width: fit-content;
    height: auto;
    margin-left: 600px;
    background-color: #ffffff;
    text-decoration: none;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    color: #b3b3b3; 
    float: left; 
}
#Sidep2{
    width: fit-content;
    height: auto;
    background-color: #ffffff;
    margin-left: auto;   
    margin-right: 20px;   
    text-decoration: none;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    color: #b3b3b3; 
    float: right; 
}
#TopBar{
    width: 100%;
    height: 80px;
    background-color: white;
    padding: 10px;
}
#logo_dark{
    display: block;
    width: auto;
    height: auto;
    margin-left: 100px;
    float: left;
}

.clearfix{
    clear: both;
}

#navbar{
    width: fit-content;
    height: auto;
    float: right;
    padding-right: 10px;
    background-color: white;
    margin-right: 20px;
    margin-top: 20px;
}
#navbar>ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
#navbar>ul>li{
    display: inline-block;
    padding: 0px;
    margin: 0px;
}

#navbar>ul>li>a{
    display: block;
    padding: 15px;
    color: #1a1919;
    text-decoration: none;
    font-weight: bold;
}

#navbar>ul>li>i{
    display: block;
    padding: 15px;
    color: #1a1919;
    text-decoration: none;
    font-weight: bold;
}

.MainContainer1{
    width: 100%;
    height: 700px;  
    position: relative;
    background-color: rgb(247, 230, 205);
    
}


.img{
    position: absolute;
}


#leaf_1{
    width: 71px;
    height: 93px;
    top: 50px;
    left: 300px;
    position: absolute;
}
#leaf_2{
    width: auto;
    height: auto;
    top: 50px;
    left: 600px;
    position: absolute;
}
#leaf_3{
    width: auto;
    height: auto;
    top: 250px;
    left: 50px;
    position: absolute;
}
#leaf_4{
    width: auto;
    height: auto;
    top: 500px;
    left: 200px;
    position: absolute;
}
#leaf_5{
    width: auto;
    height: auto;
    top: 500px;
    left: 600px;
    position: absolute;
}

#glasses{
    width: 400px;
    height: 400px;
    top: 130px;
    left: 800px;
    position: absolute;
    opacity: 80%;
}

.text1{
    width: 600px;
    height: auto;
    top: 200px;
    left: 250px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
}
.text1>ul{
    
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.text1>ul>li{
    list-style: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    margin-top: 20px;
}

.button1 {
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-right: 40px;
  }

 
.button2 {
    background-color: white; /* Green */
    border: none;
    border-radius: 5px;
    color: #4CAF50;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-left: 10px;
  }

  .box{
    width: 300px;
    height: 180px;
    top: 430px;
    left: 160px;
    position: absolute;
    
}
.orange{
    
    background: #fcc923;
    z-index: 1;
    top: 200px;
    left: 0px;
    border-radius: 10px;
    padding: 5px;
}
.pink{
    
    background: #f7737e;
    z-index: 1;
    top: 200px;
    left: 350px;
    border-radius: 10px;
    padding: 5px;
}
.green{
    
    background: #7edb27;
    z-index: 1;
    top: 200px;
    left: 700px;
    border-radius: 10px;
    padding: 5px;
}

.box>h2{
    color: white;
    font-family: brush script mt;
    font-weight: normal;
    margin-left: 20px;
    font-size: 30px;
    margin-bottom: 0px;

}

.box>p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin-left: 20px;
    font-size: 10px;
    margin-top: 5px;
    margin-bottom: 5px;

}

#box_banner{
    width: 200px;
    height: 145px;
    position: absolute;
    left: 110px;
    top: 40px;
    opacity: 70%;
}

.MainContainer2{
    width: 100%;
    height: 800px;  
    position: relative;
    background-color: rgb(255, 255, 255); 

    
}

.TextArea2{
    width: auto;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.TextArea2>h1{
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 170px;
    z-index: 1;
    opacity: 20%;
    letter-spacing: 10px;
}

.TextArea2>h3{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    z-index: 2;
    top: 50px;
    opacity: 90%;
}

.TextArea2>p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 50px;
    z-index: 2;
    opacity: 90%;
}

.Img2{
    width: 100%;
    height: 300px;
}
.box2{
    width: fit-content;
    height: auto;
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    
    
}

.box2>ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    
}

.box2>ul>li{
    display: inline-block;
    padding: 0px;
    margin: 5px;
    border-style: groove;   
    border-width: 2px; 
    border-radius: 5px;
    
}
.box2>ul>li>h5{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    margin: 20px;
    padding: 0px;
    
}
.box2>ul>li>p{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    
}

#circle{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 1px solid #46ce73;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;    
}

#circle>div{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #46ce73;
    border: 2px solid #46ce73;
    position: relative;
    top: 8px;
    left: 8px;
}

#circle>div>img{
    position: relative;
    top: 22px;
    left: 22px;
}

.MainContainer3{
    width: 100%;
    height: 300px;  
    position: relative;
    
}
.MainContainer3>img{
    width: 100%;
    height: 300px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

#circle2{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;  
    position: relative; 
    top: -200px; 
    z-index: 2;
    opacity: 25%;
}

#circle3{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;  
    position: relative; 
    top: -292px; 
    z-index: 3;
}

#play {
    width: 0; 
    height: 0; 
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 25px solid #46ce73;
    border-radius: 2px;
    position: relative;
    top: 20px;
    left: 25px;
}

.MainContainer4{
    width: 100%;
    height: auto;  
    position: relative;
    background-color: rgb(255, 255, 255); 
    margin-top: 0px;
}
.TextArea3{
    width: auto;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.TextArea3>h1{
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 170px;
    z-index: 1;
    opacity: 20%;
    letter-spacing: 10px;
}
.TextArea3>h3{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    z-index: 2;
    top: 50px;
    opacity: 90%;
}

.TextArea3>p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 50px;
    z-index: 2;
    opacity: 90%;
}

.product{
    width: auto;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
    top: 100px;
}

.product>ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    
}

.product>ul>li{
    display: inline-block;
    padding: 0px;
    margin: 0px;
    
}
.product>ul>li>h5{
    font-size: 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    margin: 20px;
    padding: 0px;
    
}

.cards{
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
    top: 150px;
    
}

#card_1{
    list-style: none;
    
    
}
#card_1>li{
    width: 120px;
    height: 150px;
    background-color: white;
    display: inline-block;
    
    padding: 0px;
    margin: 20px;
    border-style: groove;
    border-width: 2px;
    border-radius: 5px;
}
#card_1>li:hover{
    background-color: #f1f3f1;
    color: rgb(0, 0, 0);
    box-shadow: 3px 3px  rgb(199, 197, 197);
}
.dropdown{
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: 150px;
    display: none;
    z-index: 2;
    
}
#card_1>li:hover .dropdown{
    display: inline-block;
}
#card_1>li>h3{
    font-size: 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    margin: 20px;
    padding: 0px;
    margin-top: 0px;
}
#card_1>li>img{
    width: 100px;
    height: 60px;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 0px;
    z-index: 1;
}
.checked {
    color: orange;
  }
#star{
    margin: 0px;
    margin-top: 0px;
    font-size: 10px;
}

#card_1>li>p{
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    margin-top: 10px;
    color: #46ce73;
}

.MainContainer5{
    width: 100%;
    height: 600px;  
    position: relative;
    background-color: rgb(247, 230, 205); 
    margin-top: 0px;
    top: 150px;
}

.textarea4{
    position: absolute;
    left: 800px;
    top: 150px;
    font-family: Arial, Helvetica, sans-serif;
}

.button2{
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    position: relative;
    right: 50px;
}

.img6{
    width: 300px;
    height: 300px;
    border-style: dashed;
    border: solid gray;
    text-align: center;
    position: relative;
    top: 150px;
    left: 300px;
}

.img6>img{
    width: 450px;
    height: 388px;
    position: relative;
    right: 70px;
    bottom: 70px;
}

.mainfooter{
    width: auto;
    height: auto;
    position: relative;
    background-color: rgb(51, 51, 51); 
    top: 100px;
    margin-top: 0px;
    color: white;
    padding: 20px;
}

.foot1>h3{
    margin-left: 40px;
}

.foot1>ul{
    list-style: none;
    text-decoration: none;
    padding: 0px;
    margin: 10px;
}

.h{
    margin-bottom: 10px;
}
.form-group{
    width: fit-content;
    height: 45px;
    background-color: #ffffff;
    border-radius: 5px;
    padding: auto;
    padding-top: auto;


}
.form-group>input{
    width: fit-content;
    height: 40px;
    border: none;
    background-color: #ffffff;
    border-radius: 5px;
    padding: auto;
    padding-top: auto;
    margin: auto;
}
.form-group>span{
    color: white;
    background-color: #46ce73;
    border-radius: 5px;
    margin: 5px;
    margin-top: 10px;
    padding: 5px;
    
}

.foot1>ul{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
}

#subscribe{
    position: relative;

    bottom: 8px;
    left: 30px;
}

.follow{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.follow>li{
    display: inline-block;
    margin-right: 20px;
}